<!--
  Generated template for the NewuserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
	

  <ion-toolbar>

  	 <ion-buttons start>
    	<button ion-button icon-only (click)="dismiss()">
        <ion-title color="ligth">
      	  Volver. <ion-icon name="md-arrow-dropleft-circle" color="primary"></ion-icon>
        </ion-title>	
      </button>
    </ion-buttons>

   	 <ion-title>Join</ion-title>


  </ion-toolbar>
</ion-header>


<ion-content padding>

	<ion-card>
	  <ion-card-header>
	    Bienvenido nuevo Explorador
	  </ion-card-header>
	  <ion-card-content>
	    Join es una aplicacion exclusiva para la busqueda de eventos cercanos a ti, podras encontrar 
	    fiestas, eventos sociales, eventos caritativos, encuentros de personas con gustos similares a los tuyos,
	    y un sin fin de eventos registrate y explora , sal diviertete un mundo alli fuera te espera!.
	  </ion-card-content>
	</ion-card>

<ion-card>
	<ion-card-content>
		<form (ngSubmit)="registration()">
		<ion-list>
		  <ion-item>
		    <ion-label color="primary">Username</ion-label>
		    <ion-input type="text" placeholder="Nombre de Usuario" name="username" [(ngModel)]="datos.username" required ></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label color="primary">Password</ion-label>
		    <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="datos.password1" required ></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label color="primary">Password Cofirm</ion-label>
		    <ion-input type="password" placeholder="Confirmar" name="passwordconfirm" [(ngModel)]="datos.password2" required ></ion-input>
		  </ion-item>

		  <ion-item>
		  	<ion-label color="primary">Correo</ion-label>
		    <ion-input type="text" placeholder="join@join.com" name="email" [(ngModel)]="datos.email" required ></ion-input>
		  </ion-item>
		   <button ion-button block round color="primary" class="login-button">  Login</button>	  
		</ion-list>
	</form>
	</ion-card-content>
</ion-card>
	

</ion-content>
