<!--
  Generated template for the SearchusersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Buscar Usuarios</ion-title>
  </ion-navbar>

  <ion-item >
		<button ion-button color="danger" (click)="categorias()">Categorias</button>
	</ion-item>

</ion-header>


<ion-content padding>
	<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>




	<ion-list  *ngIf="data.username">
	  <ion-item>
	    <ion-thumbnail item-start>
	     <img [src]="sanitizer.bypassSecurityTrustUrl(datos.image_url)" class="round"> 
	    </ion-thumbnail>
	    <button ion-button color="danger">
	    {{ data.username }} 
		</button>
	    <h2>{{ data.email }}</h2>
	    <p>{{ datos.ubicacion }}</p>
	    <ion-badge color="danger" small (click)="ver_perfil(datos.user)">Ver Perfil</ion-badge>

	     <ion-badge color="secondary" small (click)="seguir(datos.user)"><ion-icon name="heart"></ion-icon></ion-badge>
	  </ion-item>
	</ion-list>


	<ion-list *ngIf="event.categoria">
			<ion-card>
			  <ion-item>
			    <ion-avatar item-start>
			     <ion-icon name="md-ionic"></ion-icon>
			    </ion-avatar>
			     <h2>{{ event.titulo }}</h2>
			  </ion-item>
			  <ion-card-content>
			    <p>{{ event.descripcion }}</p>
			  </ion-card-content>

			 <ion-row>
			    <ion-col>
			    </ion-col>
			    <ion-col>
			      <button ion-button icon-left clear small>
			        <ion-icon name="md-calendar"></ion-icon>
			        <div>{{ event.fecha_evento }}</div>
			      </button>
			    </ion-col>
			    <ion-col center text-center>
			      <ion-note>
			       <button ion-button color="primary" small round (click)="detalle(event.pk)"> Ver Informacion</button>
			      </ion-note>
			    </ion-col>
			  </ion-row>
		</ion-card>
	</ion-list>


	<ion-card  *ngFor="let results of result">

			  <ion-item>
			    <ion-avatar item-start>
			     <ion-icon name="md-ionic"></ion-icon>
			    </ion-avatar>
			     <h2>{{ results.titulo }}</h2>
			  </ion-item>
			  <ion-card-content>
			    <p>{{ results.descripcion }}</p>
			  </ion-card-content>

			 <ion-row>
			    <ion-col>
			    </ion-col>
			    <ion-col>
			      <button ion-button icon-left clear small>
			        <ion-icon name="md-calendar"></ion-icon>
			        <div>{{ results.fecha_evento }}</div>
			      </button>
			    </ion-col>
			    <ion-col center text-center>
			      <ion-note>
			       <button ion-button color="primary" small round (click)="detalle(results.pk)"> Ver Informacion</button>
			      </ion-note>
			    </ion-col>
			  </ion-row>
		</ion-card>


</ion-content>
