<!--
  Generated template for the EstadisticasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Estadisticas </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
      <ion-card-header>
        Eventos por Intervalo de Mes
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Seguidores por Intervalo de Mes
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas2></canvas>
      </ion-card-content>
    </ion-card>
 


</ion-content>


