<!--
  Generated template for the NeweventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nuevo Evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<button ion-button full color="danger">Selecciona Donde sera el Evento</button>

 <div #map id="map"></div>

 <ion-card id="card" class="card">
  <ion-card-content>
   			 <ion-item>
			    <ion-label floating>Titulo del Evento</ion-label>
			    <ion-input type="text" value="" name="titulo" [(ngModel)]="datos.titulo"></ion-input>
			 </ion-item>

			  <ion-item>
			    <ion-label floating>Fecha de Evento</ion-label>
			     <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" name="fecha_nacimiento"[(ngModel)]="datos.fecha_evento" min="2018"></ion-datetime>
			  </ion-item>

			   <ion-item>
			    <ion-label floating>Descripcion</ion-label>
			    <ion-input type="text" value="" name="descripcion" [(ngModel)]="datos.descripcion"></ion-input>
			  </ion-item>

			 <ion-item>
			  <ion-label>Categorias</ion-label>
			  <ion-select [(ngModel)]="datos.categoria" >
			    <ion-option value="1">Deportes</ion-option>
			    <ion-option value="2">Musica</ion-option>
			    <ion-option value="3">Adultos</ion-option>
			    <ion-option value="4">Ferias</ion-option>
			    <ion-option value="5">Comida</ion-option>
			    <ion-option value="6">Teatro</ion-option>
			    <ion-option value="7">Fiestas</ion-option>
			    <ion-option value="8">Reunion</ion-option>
			    <ion-option value="9">Familiar</ion-option>
			    <ion-option value="10">Coches</ion-option>
			  </ion-select>
			</ion-item>

			<ion-item>
				<p (click)="evento_privado()">Estableer Evento Privado</p>
			</ion-item>



			    <!--<ion-label floating>Latitud</ion-label>-->
			    <ion-input type="text" value="" name="titulo" [(ngModel)]="datos.lat" id="lat" hidden></ion-input>



			   <!-- <ion-label floating>Logitud</ion-label>-->
			    <ion-input type="text" value="" name="titulo" [(ngModel)]="datos.long" id="long" hidden></ion-input> 



			 <br>
			  <button type="submit" ion-button full color="danger"
			(click)="nuevoevento()">Crear Nuevo Evento</button>
  </ion-card-content>
</ion-card>


		  

	  

</ion-content>
