<!--
  Generated template for the MyfollowersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mis Seguidores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item *ngIf="data">

		<ion-item *ngFor="let datas of data">
			<ion-grid>
				<ion-row>
					<ion-col col-2><!-- {{ datas.follower.pk }} -->
						<img src="assets/imgs/logotipo.png" style="border-radius:20%;"/>
					</ion-col>
					<ion-col col-6> {{ datas.follower.username }} </ion-col>
					<ion-col col-4><button ion-button color="danger" small (click)="dejar_de_seguir( datas.follower.pk )"><ion-icon name="md-close-circle"></ion-icon></button></ion-col>
				</ion-row>
			</ion-grid>
		
		<!--<ion-grid>
		  <ion-row>
		    <ion-col col-4>
		    	 <ion-avatar item-start>
			      	<button ion-fab mini><ion-icon name="ios-contact"></ion-icon></button>
			    </ion-avatar>
		    </ion-col>
		    <ion-col col-6><p>{{ datas.follower.username }}</p></ion-col>
		    <ion-col col-2>
		    		<ion-checkbox style="margin-top:50%" (ionChange)="agregar( datas.user )"></ion-checkbox>
		    </ion-col>
		  </ion-row>
		</ion-grid>-->
		</ion-item>
		
	</ion-item>
