<!--
  Generated template for the ConfiguracionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>configuraciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


	 <ion-fab top right edge>
	 	<button ion-fab mini><ion-icon name="add"></ion-icon></button>
		    <ion-fab-list>
		      <button ion-fab><ion-icon name="md-at" (click)="mas()"></ion-icon></button>
		      <button ion-fab><ion-icon name="md-alert" (click)="reporte()"></ion-icon></button>
          <button ion-fab><ion-icon name="ios-contacts-outline" (click)="myfollowers()"></ion-icon></button>
          <button ion-fab><ion-icon name="md-stats" (click)="estadisticas()"></ion-icon></button>
		    </ion-fab-list>
	 </ion-fab>


	<ion-card>
  <ion-card-header>
    Panel de Configuracion
  </ion-card-header>
  <ion-card-content>

  	<ion-item text-center class="imagen" id="imagen">

	     <img [src]="sanitizer.bypassSecurityTrustUrl(datos.image_url)" class="imagen" id="imagen"> 

  	</ion-item>


  <ion-item>
    <ion-label floating>Nombre Completo</ion-label>
    <ion-input type="text" placeholder="" [(ngModel)]="datos.nombre" name="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Apellido</ion-label>
    <ion-input type="text" placeholder="" [(ngModel)]="datos.apellido" name="apellido"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label floating>Mi Bio</ion-label>
    <ion-input type="text" placeholder="" [(ngModel)]="datos.bio" name="bio"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label floating>Mi Ubicacion</ion-label>
    <ion-input type="text" placeholder="" [(ngModel)]="datos.ubicacion" name="ubicacion"></ion-input>
  </ion-item>
  <br>
  <button ion-button color="danger" block (click)="actualizar()">Actualizar datos</button>


  </ion-card-content>
</ion-card>

</ion-content>
