<ion-content padding padding class="main-content" style="background-image: url('assets/imgs/home.jpg'); height: 100%; width:100%;">
<ion-grid>
	<ion-row text-center>
		<ion-col>
			  	<img src="assets/imgs/logotipo.png" class="logotipo"/>
			  			<br><br>
		</ion-col>

	</ion-row>
	<ion-row text-center >
		<ion-col>
			<form (ngSubmit)="signing()">

				<ion-card class="card">
				  <ion-card-content>
				    <!-- Add card content here! -->
				    <ion-item>
					    <ion-label floating><ion-icon name="contact" class="font"></ion-icon> Username</ion-label>
					    <ion-input type="text"  [(ngModel)]="datos.username" name="username"></ion-input>
					  </ion-item>

					  <ion-item>
					    <ion-label floating><ion-icon name="key"  class="font"></ion-icon>  Password</ion-label>
					    <ion-input type="password" [(ngModel)]="datos.password" name="password"></ion-input>
					  </ion-item>
				  </ion-card-content>
				</ion-card>
					  <br>
					  <button ion-button block round color="primary" class="login-button">  Login</button>
			</form>
		</ion-col>
	</ion-row>
</ion-grid>

<div class="bar bar-footer bar-balanced">
    <ion-row text-center>
    	<ion-col style="color:white;">
    		Tu lugar para Encontrar Eventos
    	</ion-col>
    </ion-row>

     <ion-row text-center>
    	<ion-col style="color:white;">
    		¿No tienes cuenta? 
    		<button ion-button small round (click)="singout()">  Registrate</button>
    	</ion-col>
    </ion-row>
</div>

</ion-content>
