<!--
  Generated template for the PrivadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Eventos Privados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-item *ngIf="datos">
	<ion-card  *ngFor="let results of datos">

			  <ion-item>
			  	<ion-avatar item-start>
			  	<img src="assets/imgs/logotipo.png" style="border-radius:20%;"/>
			  </ion-avatar>
			  	 <h2>{{ results.publicacion.user.username }}</h2>
			     <h2>{{ results.publicacion.titulo }}</h2>
			  </ion-item>
			  <ion-card-content>
			    <p>{{ results.descripcion }}</p>
			  </ion-card-content>

			 <ion-row>
			    <ion-col>
			      <button ion-button icon-left clear small>
			        <ion-icon name="md-calendar"></ion-icon>
			        <div>{{ results.publicacion.fecha_evento }}</div>
			      </button>
			    </ion-col>
			    <ion-col center text-center>
			      <ion-note>
			       <button ion-button color="primary" small round (click)="detalle(results.publicacion.pk)"> Ver Informacion</button>
			      </ion-note>
			    </ion-col>
			  </ion-row>
		</ion-card>
</ion-item>

</ion-content>
