<ion-header  style="background-image: url('assets/imgs/home.jpg');">
  <ion-toolbar  style="background-image: url('assets/imgs/home.jpg');">
    <ion-title text-center>Join</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="sendData()" enctype="multipart/form-data">
   
	<ion-item>
	    <ion-label floating>Donde estas Ubicado</ion-label>
	    <ion-input type="text" name="ubicacion" [(ngModel)]="data.ubicacion"></ion-input>
  	</ion-item>

  	<ion-item>
	    <ion-label floating>Fecha de Nacimiento</ion-label>
	     <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" name="fecha_nacimiento" [(ngModel)]="data.fecha_nacimiento" max="2000-31-12"></ion-datetime>
  	</ion-item>

  	<ion-item>
	    <ion-label floating>Nombre Completo</ion-label>
	    <ion-input type="text" name="nombre" [(ngModel)]="data.nombre"></ion-input>
  	</ion-item>

  	<ion-item>
	    <ion-label floating>Apellido</ion-label>
	    <ion-input type="text" name="apellido" [(ngModel)]="data.apellido"></ion-input>
  	</ion-item>

  	<ion-item>
	    <ion-label floating>Pequeño mensaje</ion-label>
	    <ion-input type="text" name="bio" [(ngModel)]="data.bio"></ion-input>
  	</ion-item>


  	<br><br>

  	<ion-item>
  		<button ion-button color="danger" block type="submit">FINALIZAR  <ion-icon name="ceck"></ion-icon></button>
  	</ion-item>
  </form>
</ion-content>