<!--
  Generated template for the NavpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="background_nav">
  <ion-toolbar class="background_nav">
  	<button ion-button (click)="volver()">Volver</button>
  </ion-toolbar>
</ion-header>


<ion-content>

	
	<ion-list>
	  <ion-item>
	    <ion-thumbnail item-start>
	     <img [src]="sanitizer.bypassSecurityTrustUrl(data2.image_url)" class="round"> 
	    </ion-thumbnail>
	    <button ion-button color="danger">
	   {{ data3.username }} <ion-icon name="md-arrow-dropright-circle" item-start></ion-icon>
	</button>
	    <h2>{{ data2.bio }}</h2>
	     <p>{{ data2.nombre }}  {{ data2.apellido }}</p>
	     <p>{{ data3.email }}</p>
	    <p>Seguidores : </p>
	  </ion-item>

	</ion-list>

		<ion-card  *ngFor="let results of result">

			  <ion-item>
			    <ion-avatar item-start>
			      <img [src]="sanitizer.bypassSecurityTrustUrl(data2.image_url)"> 
			    </ion-avatar>
			     <h2>{{ results.titulo }}</h2>
			  </ion-item>
			  <ion-card-content>
			    <p>{{ results.descripcion }}</p>
			  </ion-card-content>

			 <ion-row>
			    <ion-col>
			      <button ion-button icon-left clear small>
			        <ion-icon name="md-radio-button-on"></ion-icon>
			         <button ion-button color="danger" small round (click)="eliminar(results.pk)">Eliminar</button>
			      </button>
			    </ion-col>
			    <ion-col>
			      <button ion-button icon-left clear small>
			        <ion-icon name="md-calendar"></ion-icon>
			        <div>{{ results.fecha_evento }}</div>
			      </button>
			    </ion-col>
			    <ion-col center text-center>
			      <ion-note>
			       <button ion-button color="primary" small round (click)="detalle(results.pk)"> Ver Informacion</button>
			      </ion-note>
			    </ion-col>
			  </ion-row>
		</ion-card>
		

	
</ion-content>
