<!--
  Generated template for the ConfigurationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Configuracion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding padding class="main-content" style="background-image: url('/assets/imgs/home.jpg'); height: 100%; width:100%;">
<ion-grid>

	<ion-row text-center >

		<br>
		<ion-col>
			<form (ngSubmit)="update()">
				<ion-card class="card">
				  <ion-card-content>

					<ion-item>
					    <ion-label stacked><ion-icon name="key"  class="font"></ion-icon>  Ubicacion</ion-label>
					    <ion-input type="text" placeholder="" 
					    [(ngModel)]="data.ubicacion" name="ubicacion"></ion-input>
					  </ion-item>
					
					  <ion-item>
					    <ion-label stacked><ion-icon name="key"  class="font"></ion-icon>  Fecha_nacimiento</ion-label>
					     <ion-datetime displayFormat="MM/DD/YYYY"
					      [(ngModel)]="data.fecha_nacimiento" name="fecha_nacimiento"></ion-datetime>
					  </ion-item>

					  <ion-item>
					    <ion-label stacked><ion-icon name="key"  class="font"></ion-icon> Nombres</ion-label>
					    <ion-input type="text"  placeholder=""
					     [(ngModel)]="data.nombre" name="nombre"></ion-input>
					  </ion-item>

					  <ion-item>
					    <ion-label stacked><ion-icon name="key"  class="font"></ion-icon>  Apellidos</ion-label>
					    <ion-input type="text" placeholder=""
					     [(ngModel)]="data.apellido" name="apellido"></ion-input>
					  </ion-item>

					  <ion-item>
					    <ion-label stacked><ion-icon name="key"  class="font"></ion-icon>  Mini Bio</ion-label>
					    <ion-input type="text" placeholder=""
					     [(ngModel)]="data.bio" name="bio"></ion-input>
					  </ion-item>

					
				  </ion-card-content>
				</ion-card>
					  <br>
					  <button ion-button block round color="primary" class="login-button"> Actualizar</button>
			</form>
		</ion-col>

		<br><br>



					<button ion-button block color="danger" class="login-button"> Reporte de Errores</button>

	</ion-row>
</ion-grid>

</ion-content>
