<!--
  Generated template for the NavpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  style="background-image: url('assets/imgs/home.jpg');">
  <ion-toolbar  style="background-image: url('assets/imgs/home.jpg');">
    <ion-title text-center>Join</ion-title>
    <ion-buttons start>
    	
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding class="card-background-page">

	


	<ion-grid>


 	<ion-list>
	  <ion-item>
	    <ion-thumbnail item-start>
	     <img [src]="sanitizer.bypassSecurityTrustUrl(data.image_url)" > 
	    </ion-thumbnail>
	    <button ion-button color="danger" outline roud (click)="miperfil()">
	    {{ datos.username }} <ion-icon name="md-arrow-dropright-circle" item-start></ion-icon>
	</button>
	    <h2>{{ data.bio }}</h2>
	    <p>Seguidores : </p>
	  </ion-item>
	</ion-list>


	 <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="ios-keypad"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="primary"  (click)="search()"><ion-icon name="search"></ion-icon></button>
      <button ion-fab color="primary" (click)="buscar_usuario()" round><ion-icon name="md-contacts"></ion-icon></button>
      <button ion-fab color="primary" (click)="nuevoEvento()" round><ion-icon name="md-add-circle"></ion-icon></button>
      <button ion-fab color="primary" (click)="privados()"><ion-icon name="ios-unlock"></ion-icon></button>
      <button ion-fab color="primary" (click)="configurations()"><ion-icon name="settings"></ion-icon></button>
    </ion-fab-list>
     <ion-fab-list side="top">
     	<button ion-fab color="danger" (click)="log_out()"><ion-icon name="log-out"></ion-icon></button>
     </ion-fab-list>
  </ion-fab>





	</ion-grid>

	<!-- termina la data del usuario -->
	<hr>
<ion-item *ngIf="data">
	<ion-card  *ngFor="let publi of publish">

			  <ion-item>
			    <ion-avatar item-start>
			   <img src="assets/imgs/home.jpg"> 
			    </ion-avatar>
			      <h2>{{ publi.user.username }}</h2>
			     <h3>{{ publi.titulo }}</h3>
			  </ion-item>
			  <ion-card-content>
			    <p>{{ publi.descripcion }}</p>
			  </ion-card-content>

			 <ion-row>
			    <ion-col>
			    	<ion-note>
			    		
			    	</ion-note>
			    </ion-col>
			    <ion-col>
			      <button ion-button icon-left clear small>
			        <ion-icon name="md-calendar"></ion-icon>
			       <div>{{ publi.fecha_evento }}</div> 
			      </button>
			    </ion-col>
			    <ion-col center text-center>
			      <ion-note>
			       <button ion-button color="primary" small round (click)="detalle(publi.pk)"> Ver Informacion</button>
			      </ion-note>
			    </ion-col>
			  </ion-row>
		</ion-card>
</ion-item>

</ion-content>
