<!--
  Generated template for the DetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<div #map id="map"></div>


<ion-card>

	 <ion-fab right top>
    <button ion-fab>
      <ion-icon name="pin"></ion-icon>
    </button>
  </ion-fab>
			  <ion-card-content>
			  	<h2>{{ result.titulo }}</h2>
			    <p>{{ result.descripcion }}</p>
			  </ion-card-content>
			 <ion-row>
			    <ion-col>
			      <button ion-button icon-left clear small>
			        <ion-icon name="md-calendar"></ion-icon>
			        <div>{{ result.fecha_evento }}</div>
			      </button>
			    </ion-col>
			  </ion-row>
</ion-card>



 		
</ion-content>
